body{

}
#banner{width:100%

}

.principal{
       background: #cccccc
}

h1{
    text-align: center
}


p {
    text-align: center
}

#missao {
  text-align: center
}

em strong{
  color: blue;
}

.itens {
      font-style:
}
.beneficios{
          background: #FFFFFF;
}
h2{
  text-align: center;
}
